{% extends 'Base_customer.html' %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='register.css')}}">
{% endblock %}
{% block title %}<title>Customer</title>{% endblock %}

{% block content %}
<h4>View your feedback</h4>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">S.No</th>
            <th class="text-center">Furniture name</th>
            <th class="text-center">Description</th>
            <th class="text-center">Rating</th>

        </tr>
    </thead>

    <tbody>

        {% if requests %}
        {% for item in requests %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item.get('furniturename') }}</td>
            <td>{{ item.get('description') }}</td>
            <td>{{ item.get('rating') }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>None</td>
            <td>None</td>
            <td>None</td>
            <td>None</td>
        </tr>

        {% endif %}
    </tbody>
</table>
<br><br>
<hr>
{% endblock %}