{% extends 'Base_home.html' %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='register.css')}}">
{% endblock %}
{% block title %}<title>Login</title>{% endblock %}

{% block content %}

<div class="container">
    <header>Login</header>
    <div class="content">
        <form id="login" action="{{ url_for('login') }}" name="login" method="post" autocomplete="off">
            <div class="msg">{{ msg }}</div>
            <div class="input-field">
                <label for="email">Email Address *</label>
                <input type="email" name="email" id="email" placeholder="Enter email address" required="required" />
            </div>
            <div class="input-field">
                <label for="password">password *</label>
                <input type="password" name="password" id="password" placeholder="password" required="required" />
            </div>
            <p>
                <input type="submit" value="submit" />
                <input type="reset" value="Cancel" />
            </p><br>
            <p>New user Register here : </p><a href="/register">signup</a>

        </form>
    </div>
</div>
</div>
{% endblock %}